* {
    font-family: 'Pangolin', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009780;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  img{
    width: 70px;
    padding: 0;
    margin: 0;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: #111;
  }