* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #016A70;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  float: right;
  font-size: 1.2em;
}
img{
  width: 69px;
  float: left;
}

li a:hover{
  text-decoration: underline;
}